html, body {
    height: 100%;
}

.library-container {
    margin: 0;
}

.title-div, .author-div, .pages-div, .checkbox-div {
    margin-block: 20px;
}

.library-title, .checkbox-text {
    color: white;
}

.row, .library-container {
    height: 100%;
}

.statistics {
    flex-grow: 1;
    padding-left: 30px;
    font-size: 20px;
}

.single-book {
    font-weight: 400;
    font-size: 25px;
}

.bg-color-titles {
    background-color: #ffc107 !important;
}

#add-book-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(67, 1, 129);
    padding-inline: 50px;
    padding-block: 20px;
}

#add-book-button {
    margin-block: 30px;
    font-weight: 500;
    font-size: 20px;
}

#book-info-titles-section {
    background-color: #ffc107 !important;
    font-weight: 600;
    font-size: 25px;
}

#library-section {
    padding: 0;
}

#book-statistics-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#delete-all-button {
    margin-right: 30px;
    font-weight: 600;
    font-size: 20px;
}

#table-container {
    min-height: calc(100vh - 100px);
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}